.quiz {
  position: relative;  
  margin: 0 auto;
  width: calc(100vw - 40px);
  margin: 0 auto;
  max-width: 374px;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100vw;
}

.crazyBorder {
  position: absolute;
  z-index: -1;
  width: 100%;
  display: none;
}
