.main {
  font-family: 'EuclidCircularA-Medium';
  color: white;
  font-size: 36px;
}

.preloader  {
  width: 300px;
  height: 300px;
  margin: 60px auto;
}

.preloader img {
  width: inherit;
}

.heading {
  font-family: 'EuclidCircularA-Medium';
  font-size: 46px;
  font-weight: 500;
  line-height: 58.33px;
  text-align: left;
  color: white;
  width: calc(100% - 40px);
  margin: auto;
}

.downArrow {
  width: 100%;
  margin: 46px auto;
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: calc(100% - 40px);
  margin: auto;
}

.introText {
  color: white;
  font-family: 'EuclidCircularA-Regular';
  font-size: 20px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: left;
}

.info {
  padding-top: 100px;
  width: calc(100% - 40px);
  margin: auto;
}

.infoHeading {
  color: white;
  font-size: 22px;
  font-weight: 500;
  line-height: 27.9px;
  text-align: left;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoBlock {
  display: flex;
  align-items: flex-start;
  gap: 13px;
}

.infoBlockText {
  color: white;
  font-size: 22px;
  font-weight: 500;
  line-height: 27.9px;
}

.infoBlockTextOther {
  color: white;
  font-size: 18px;
  font-family: 'EuclidCircularA-Regular';
  font-weight: 400;
  line-height: 20.29px;
}

.navigation {
  padding-top: 160px;
  width: 100%;
  margin: 0 auto;
  max-width: 374px;
}

.navigationHeading {
  font-size: 51px;
  font-weight: 500;
  line-height: 64.67px;
  padding-bottom: 40px;
  width: calc(100% - 40px);
  margin: auto;
}

.navigationList {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 14px;
}

.navigationListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 27.9px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
}

.navigationListItem a,
.navigationListItem span {
  color: #FF335F;
  display: block;
}

.navigationListItem:hover {
  opacity: .9;
}

.navigationListItem span {
  font-family: 'EuclidCircularA-Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 20.29px;
}

.mainInfoContainer {
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.mainInfoWhite {
  position: relative;   
}

.whiteGradient {
   background: linear-gradient(
    180deg,
    #FF335F 0%,     /* Начинаем с розового */
    #FFFFFF 15%,    /* Быстрый переход к белому */
    #FFFFFF 90%,    /* Белый остается до 90% высоты */
    #FF335F 95%,    /* Быстрый переход обратно к розовому */
    #FF335F 100%    /* Заканчиваем розовым */
  );
  position: absolute;
  top: 0;
  height: 100%;
  width: calc(100vw);
  max-width: 374px;
  z-index: -1;
}

.mainInfoWhiteHeading {
  font-family: 'EuclidCircularA-Medium';
  color: #404040;
  font-size: 28px;
  font-weight: 500;
  line-height: 35.5px;
  padding-top: 180px;
}

.mainInfoWhiteSubheading {
  color: #404040;
  font-size: 22px;
  font-weight: 500;
  line-height: 27.9px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.mainInfoWhiteSubheading span {
  font-family: 'EuclidCircularA-Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 20.29px;
}

.sensorLandscape {
  margin-top: 100px;
  padding-bottom: 200px;
}

.infoBlockOther {
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  gap: 13px;
}

.infoBlockOther .infoBlockText {
  color: #FF335F;
  font-size: 16px;
  font-family: 'EuclidCircularA-Regular';
  font-weight: 400;
  line-height: 20.29px;
}

.mainInfoImg {
  width: 100%;
}

.mainInfoWhiteText {
  font-family: 'EuclidCircularA-Regular';
  color: #404040;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.36px;
}

.flowArtistContainer {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.flowArtistSubheadingPink {
  font-size: 22px;
  font-weight: 500;
  line-height: 27.9px;
  color: #FF335F;
  padding-left: 20px;
  padding-right: 20px;
}

.flowArtistSubheadingBlack {
  composes: flowArtistSubheadingPink;
  color: #404040;
}

.flowArtistImg {
  padding-left: 20px;
  padding-right: 20px;
  width: 60%;
}

.flowArtistText {
  color: #FF335F;
  font-size: 16px;
  font-family: 'EuclidCircularA-Regular';
  font-weight: 400;
  line-height: 20.29px;
  padding-left: 20px;
  padding-right: 20px;
}

.flowArtistCredits {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.29px;
  padding-left: 20px;
  padding-right: 20px;
}

.flowArtistCredits p:nth-child(2) {
  font-family: 'EuclidCircularA-Regular';
  color: #FF335F;
}

.backToMenuPinkContainer {
  margin-top: 60px;
  width: 100%;
  display: flex;
}

.backToMenuPink {
  font-family: 'EuclidCircularA-Medium';
  color: #FF335F;
  font-size: 30px;
  font-weight: 500;
  line-height: 38.04px;
  text-decoration: underline;
  margin: 0 auto;
  padding-bottom: 75px;
}

.backToMenuWhiteContainer {
  margin-top: 60px;
  width: 100%;
  display: flex;
}

.backToMenuWhite {
  font-family: 'EuclidCircularA-Medium';
  color: white;
  font-size: 30px;
  font-weight: 500;
  line-height: 38.04px;
  text-decoration: underline;
  margin: 0 auto;
  padding-bottom: 75px;
}

.samokatCafe {
  width: calc(100% - 40px);
  margin: auto;
}

.samokatCafeHeading {
  font-family: 'EuclidCircularA-Medium';
  color: white; 
  font-size: 28px;
  font-weight: 500;
  line-height: 35.5px;
}

.samokatCafe .infoBlockText {
  color: white; 
}

.samokatCafeText {
  font-family: 'EuclidCircularA-Regular';
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.36px;
  padding-top: 30px;
  padding-bottom: 60px;
}

.soundLandscapes {
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
}

.soundLandscapesHeading {
  font-family: 'EuclidCircularA-Medium';
  color: white; 
  font-size: 28px;
  font-weight: 500;
  line-height: 35.5px;
}

.soundLandscapesSubheading {
  padding-top: 10px;
  color: white;
  font-size: 22px;
  font-weight: 500;
  line-height: 27.9px;
}

.soundLandscapesSubheading span {
  font-family: 'EuclidCircularA-Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 20.29px;
}

.soundLandscapes .infoBlockText {
  color: white; 
}

.soundLandscapesImg {
  margin-top: 50px;
}

.soundLandscapesText {
  font-family: 'EuclidCircularA-Regular';
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.36px;
  padding-top: 30px;
  padding-bottom: 60px;
}

.soundLandscapesContainer {
  width: 100%;
  display: flex;
}

.soundLandscapesButton {
  font-family: 'EuclidCircularA-Regular';
  color: #FF335F;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 50px;
  border: none;
  min-width: 300px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  text-align: left;
}

.soundLandscapesButton:hover {
  opacity: .9;
}

.mariaFedorova {
  position: relative;
  padding-bottom: 150px;
}

.mariaFedorova  .whiteGradient {
   background: linear-gradient(
    180deg,
    #FF335F 0%,     /* Начинаем с розового */
    #FFFFFF 5%,    /* Быстрый переход к белому */
    #FFFFFF 90%,    /* Белый остается до 90% высоты */
    #FFFFFF 95%,    /* Быстрый переход обратно к розовому */
    #FF335F 100%    /* Заканчиваем розовым */
  );
  position: absolute;
  top: 0;
  height: 100%;
  width: calc(100vw);
  max-width: 374px;
  z-index: -1;
}


.mariaFedorovaContainer {
  padding-left: 20px;
  padding-right: 20px; 
}

.mariaFedorovaHeading {
  font-family: 'EuclidCircularA-Medium';
  color: #404040;
  font-size: 28px;
  font-weight: 500;
  line-height: 35.5px;
  padding-top: 180px;
}

.mariaFedorovaSubheading {
  color: #404040;
  font-size: 22px;
  font-weight: 500;
  line-height: 27.9px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.mariaFedorovaSubheading span {
  font-family: 'EuclidCircularA-Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 20.29px;
}

.mariaFedorovaImg {
  padding-top: 30px;
  width: 100%;
}

.mariaFedorovaText {
  font-family: 'EuclidCircularA-Regular';
  color: #404040;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.36px;
  padding-top: 40px;
}

.mariaArtistContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mariaArtist {
  width: 60%;
  padding-left: 20px;
  padding-right: 20px;
}

.mariaArtistText {
  color: #FF335F;
  font-size: 16px;
  font-family: 'EuclidCircularA-Regular';
  font-weight: 400;
  line-height: 20.29px;
  padding-left: 20px;
  padding-right: 20px;
}

.mariaArtistCredits {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.29px;
  padding-left: 20px;
  padding-right: 20px;
}

.mariaArtistCredits p:nth-child(2) {
  font-family: 'EuclidCircularA-Regular';
  color: #FF335F;
}

.artOfResearch {
  width: calc(100% - 40px);
  margin: auto;
  background-color: #FF335F;
  border-radius: 28px;
  margin-top: 75px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  padding-bottom: 60px;
}

.artOfResearchHeading {
  font-family: 'EuclidCircularA-Medium';
  padding-top: 42px;
  font-size: 28px;
  font-weight: 500;
  line-height: 35.5px;
}

.artOfResearchSubheading {
  font-family: 'EuclidCircularA-Regular';
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.29px;
  padding-top: 10px;
}

.artOfResearchText {
  font-family: 'EuclidCircularA-Regular';
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.36px;
  padding-top: 30px;
  padding-bottom: 60px;
}

.artOfResearchButtonContainer {
  width: 100%;
  display: flex;
}

.artOfResearchButton {
  font-family: 'EuclidCircularA-Regular';
  color: #FF335F;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 50px;
  border: none;
  min-width: 300px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
}

.artOfResearchButton:hover {
  opacity: .9;
}

.giftFooter {
  width: calc(100% - 40px);
  margin: auto;
}

@keyframes pulse {
  0% {
    filter: brightness(100%);
    transform: scale(1);
  }
  50% {
    filter: brightness(120%);
    transform: scale(1.05);
  }
  100% {
    filter: brightness(100%);
    transform: scale(1);
  }
}

.giftFooterHeading {
  font-family: 'EuclidCircularA-Medium';
  font-size: 28px;
  font-weight: 500;
  line-height: 35.5px;
  text-align: left;
  padding-bottom: 55px;
}

.giftFooterImg {
  width: 90%;
  padding-left: 5%;
  animation: pulse 2s infinite;
  transition: transform 0.2s ease-in-out;
}

.giftFooterText {
  font-family: 'EuclidCircularA-Regular';
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.36px;
  padding-top: 30px;
}

.creditsFooter {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.creditsFooter .whiteGradient {
  background: linear-gradient(
    180deg,
    #FF335F 0%,     /* Начинаем с розового */
    #FFFFFF 5%,    /* Быстрый переход к белому */
    #FFFFFF 90%,    /* Белый остается до 90% высоты */
    #FFFFFF 95%,    /* Быстрый переход обратно к розовому */
    #FF335F 100%    /* Заканчиваем розовым */
  );
}

.creditsFooterText {
  color: #FF335F;
  font-size: 16px;
  font-family: 'EuclidCircularA-Regular';
  font-weight: 400;
  line-height: 20.29px;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% - 40px);
  margin: auto;
}

.creditsFooterListHeading {
  font-family: 'EuclidCircularA-Medium';
  color: #404040;
  width: calc(100% - 40px);
  margin: auto;
  font-size: 22px;
  font-weight: 500;
  line-height: 27.9px;
}

.creditsFooterList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.creditsFooterListItem {
  width: calc(100% - 40px);
  margin: auto;
  color: #404040;
  font-family: 'EuclidCircularA-Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 20.29px;
}

.creditsFooterListItem span {
  color: #FF335F;
  font-size: 16px;
  font-family: 'EuclidCircularA-Regular';
  font-weight: 400;
  line-height: 20.29px; 
  display: block;
}