.instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 378px;
  margin: 0 auto;
  background: linear-gradient(0deg, #FF5076 0%, #FFFFFF 100%);
  padding: 30px;
  border-radius: 28px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
  line-height: 25.36px;
  text-align: left;
  position: relative;
  height: calc(100vh - 240px);
  min-height: 600px;
}

.instructionCard {
  height: 100%;
}

.introCardHeading {
  font-family: 'EuclidCircularA-Medium';
  font-size: 46px;
  font-weight: 500;
  line-height: 58.33px;
  text-align: left;
  color: white;
  padding-top: 170px;
}


.instructionСardHeader {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.instructionСardHeaderCount,
.instructionСardHeaderTitle {
  color: #FF335F;
}

.instructionContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: calc(100% - 75px);
}

.startButtonContainer button {
  height: 40px;
  width: 100%;
  margin: auto;
  border: none;
  color: #FF335F;
  border-radius: 30px;
  background-color: white;
}

.fadeIn {
  animation: fadeIn 0.2s forwards;
}

.fadeOut {
  animation: fadeOut 0.2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.downArrow {
  margin: 0 auto;
}