.cards {
  font-family: 'EuclidCircularA-Medium';
  cursor: pointer;
  width: calc(100vw - 40px);
  margin: 0 auto;
  max-width: 374px;
  overflow-y: hidden;
  padding-bottom: 40px;
}

.startButtonContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.startButtonContainer button {
  height: 40px;
  width: 100%;
  margin: auto;
  border: none;
  color: #FF335F;
  border-radius: 30px;
  background-color: white;
}